version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: projet-final-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: projet_final
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network
    command: ["--replSet", "rs0", "--bind_ip_all"]
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'localhost:27017'}]}) }" | mongosh --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      start_interval: 1s
      retries: 30

volumes:
  mongodb_data:

networks:
  app-network:
    driver: bridge
